@model MVC4.MyOrganizer.Models.TodoItem

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="hero-unit" style=" background-color:#BBD8E9;  width: 800px; padding: 20px;">
    <h3>Welcome to Daily Organizer</h3>
    <p>    
    This web site is build to help you organize your daily tasks. <br/>
    Build to showcase the ASP.NET MVC technology stack, For data layer part it is build using Entity Framework v5 code first approach.
    </p>
    <p>
        <a href="/Account/Register" class="btn btn-primary">
            Register
        </a>
        <a href="/Account/Login" class="btn btn-primary">
            Login
        </a>
    </p>
    </div>

