@model MVC4.MyOrganizer.Models.TodoItem

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="hero-unit" style=" margin-top:50px; width: 800px; padding: 20px;">
    <h3>Welcome to Daily Organizer</h3>
    <p>    
    Simple web site to help you organize your daily tasks. <br/>
    Build using C# ASP.NET MVCv4 technology stack and Entity Framework v5 code first on the Data Layer.
    </p>
    <p>
        @if (!Request.IsAuthenticated)
        {
            <a href="/Account/Register" class="btn btn-primary">
                Register
            </a>
            <a href="/Account/Login" class="btn btn-primary">
                Login
            </a>
        }
    </p>
    </div>

